openapi: 3.0.1
info:
  contact:
    email: carlos@adaptive.me
    name: Carlos Lozano
    url: https://www.linkedin.com/in/clozano/
  description: This is the OpenAPI specification of the RabbitMQ HTTP API. For more
    information, please refer to [HTTP API](https://cdn.rawgit.com/rabbitmq/rabbitmq-management/v3.7.14/priv/www/api/index.html)
    official documentation.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Rabbitmq Http API
  version: "1.0"
servers:
- url: http://mb1.bus.adaptive.me/rabbitmq/api
- url: https://mb1.bus.adaptive.me/rabbitmq/api
security:
- basic_auth: []
tags:
- name: Bindings
- name: Informational
- name: Exchanges
- name: Pub/Sub
- name: Queues
- name: Virtual Hosts
- name: Users
- name: Permissions
paths:
  /exchanges:
    get:
      operationId: ListExchanges
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                auto_delete: false
                durable: true
                internal: false
                name: ""
                type: direct
                user_who_performed_action: rmq-internal
                vhost: /
              schema:
                items:
                  $ref: '#/components/schemas/Exchange'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Exchanges
      tags:
      - Exchanges
  /exchanges/{vhost}/{exchange}:
    delete:
      operationId: DeleteExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Delete Exchange
      tags:
      - Exchanges
    get:
      operationId: GetExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                arguments: {}
                auto_delete: false
                durable: true
                incoming: []
                internal: false
                message_stats:
                  publish_in: 1247498
                  publish_in_details:
                    rate: 0
                  publish_out: 1246679
                  publish_out_details:
                    rate: 0
                name: shared.exchange
                outgoing: []
                type: direct
                user_who_performed_action: adminuser
                vhost: cloud
              schema:
                $ref: '#/components/schemas/Exchange'
          description: ""
      security:
      - basic_auth: []
      summary: Read Exchange
      tags:
      - Exchanges
    put:
      operationId: CreateExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRequest'
        required: false
      responses:
        201:
          content: {}
          description: ""
        204:
          content: {}
          description: ""
          headers:
            Content-Security-Policy:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - basic_auth: []
      summary: Create Exchange
      tags:
      - Exchanges
      x-codegen-request-body-name: body
  /exchanges/{vhost}:
    get:
      operationId: ListExchangesForHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                auto_delete: false
                durable: true
                internal: false
                name: ""
                type: direct
                user_who_performed_action: adminuser
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Exchange'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Exchanges for VHost
      tags:
      - Exchanges
  /overview:
    get:
      operationId: GetOverview
      responses:
        200:
          content:
            application/json:
              example:
                churn_rates:
                  channel_closed: 264850
                  channel_closed_details:
                    rate: 0
                  channel_created: 264851
                  channel_created_details:
                    rate: 0
                  connection_closed: 264852
                  connection_closed_details:
                    rate: 0
                  connection_created: 264851
                  connection_created_details:
                    rate: 0
                  queue_created: 0
                  queue_created_details:
                    rate: 0
                  queue_declared: 3
                  queue_declared_details:
                    rate: 0
                  queue_deleted: 0
                  queue_deleted_details:
                    rate: 0
                cluster_name: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
                contexts:
                - description: RabbitMQ Management
                  node: rabbit@rabbitmq-cloud-0
                  path: /
                  port: "15672"
                  ssl_opts: []
                erlang_full_version: Erlang/OTP 21 [erts-10.3.4] [source] [64-bit]
                  [smp:8:8] [ds:8:8:10] [async-threads:128] [hipe]
                erlang_version: 21.3.7
                exchange_types:
                - description: AMQP headers exchange, as per the AMQP specification
                  enabled: true
                  name: headers
                listeners:
                - ip_address: '::'
                  node: rabbit@rabbitmq-cloud-0
                  port: 5672
                  protocol: amqp
                  socket_opts:
                    backlog: 128
                    exit_on_close: false
                    linger:
                    - true
                    nodelay: true
                management_version: 3.7.14
                message_stats:
                  ack: 1264822
                  ack_details:
                    rate: 0
                  confirm: 258495
                  confirm_details:
                    rate: 0
                  deliver: 1264822
                  deliver_details:
                    rate: 0
                  deliver_get: 1264846
                  deliver_get_details:
                    rate: 0
                  deliver_no_ack: 0
                  deliver_no_ack_details:
                    rate: 0
                  disk_reads: 0
                  disk_reads_details:
                    rate: 0
                  disk_writes: 1000000
                  disk_writes_details:
                    rate: 0
                  get: 24
                  get_details:
                    rate: 0
                  get_no_ack: 0
                  get_no_ack_details:
                    rate: 0
                  publish: 1247498
                  publish_details:
                    rate: 0
                  redeliver: 24
                  redeliver_details:
                    rate: 0
                  return_unroutable: 0
                  return_unroutable_details:
                    rate: 0
                node: rabbit@rabbitmq-cloud-0
                object_totals:
                  channels: 1
                  connections: 1
                  consumers: 0
                  exchanges: 16
                  queues: 1
                queue_totals:
                  messages: 0
                  messages_details:
                    rate: 0
                  messages_ready: 0
                  messages_ready_details:
                    rate: 0
                  messages_unacknowledged: 0
                  messages_unacknowledged_details:
                    rate: 0
                rabbitmq_version: 3.7.14
                rates_mode: basic
                sample_retention_policies:
                  basic:
                  - 600
                  detailed:
                  - 600
                  global:
                  - 600
                statistics_db_event_queue: 0
              schema:
                $ref: '#/components/schemas/Overview'
          description: ""
      security:
      - basic_auth: []
      summary: Get Overview
      tags:
      - Informational
  /cluster-name:
    get:
      operationId: GetClusterName
      responses:
        200:
          content:
            application/json:
              example:
                name: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
              schema:
                $ref: '#/components/schemas/ClusterName'
          description: ""
      security:
      - basic_auth: []
      summary: Read Cluster Name
      tags:
      - Informational
  /definitions:
    get:
      operationId: ListDefinitions
      responses:
        200:
          content:
            application/json:
              example:
                bindings:
                - arguments: {}
                  destination: shared.queue.cloud
                  destination_type: queue
                  routing_key: shared.queue.cloud.key
                  source: shared.exchange
                  vhost: cloud
                exchanges:
                - arguments: {}
                  auto_delete: false
                  durable: true
                  internal: false
                  name: shared.exchange
                  type: direct
                  vhost: cloud
                global_parameters:
                - name: cluster_name
                  value: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
                parameters: []
                permissions:
                - configure: .*
                  read: .*
                  user: adminuser
                  vhost: cloud
                  write: .*
                policies: []
                queues:
                - arguments: {}
                  auto_delete: false
                  durable: true
                  name: shared.queue.cloud
                  vhost: cloud
                rabbit_version: 3.7.14
                topic_permissions:
                - exchange: shared.exchange
                  read: .*
                  user: apiuser
                  vhost: cloud
                  write: .*
                users:
                - hashing_algorithm: rabbit_password_hashing_sha256
                  name: apiuser
                  password_hash: mVZvOq/iWjeTCvDw8bSZkHUB+w8Z07S/lZwg4e7NcNscLjah
                  tags: administrator
                vhosts:
                - name: cloud
              schema:
                $ref: '#/components/schemas/Definition'
          description: ""
      summary: List Definitions
      tags:
      - Informational
  /definitions/{vhost}:
    get:
      operationId: GetDefinitionsForVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                bindings:
                - arguments: {}
                  destination: shared.queue.cloud
                  destination_type: queue
                  routing_key: shared.queue.cloud.key
                  source: shared.exchange
                exchanges:
                - arguments: {}
                  auto_delete: false
                  durable: true
                  internal: false
                  name: shared.exchange
                  type: direct
                parameters: []
                policies: []
                queues:
                - arguments: {}
                  auto_delete: false
                  durable: true
                  name: shared.queue.cloud
                rabbit_version: 3.7.14
              schema:
                $ref: '#/components/schemas/Definition'
          description: ""
          headers:
            Content-Security-Policy:
              schema:
                type: string
            Vary:
              schema:
                type: string
      security:
      - basic_auth: []
      summary: Get Definitions for VHost
      tags:
      - Informational
      - Virtual Hosts
    post:
      operationId: CreateDefinitionsForVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Definition'
        required: false
      responses:
        204:
          content: {}
          description: ""
        400:
          content:
            application/json:
              example:
                error: bad_request
                reason: vhost_not_found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Create Definitions for VHost
      tags:
      - Virtual Hosts
      x-codegen-request-body-name: body
  /queues/{vhost}/{queue}/get:
    post:
      operationId: ConsumeMessage
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumeRequest'
        required: false
      responses:
        200:
          content:
            application/json:
              example:
              - exchange: shared.exchange
                message_count: 24
                payload: my body
                payload_bytes: 7
                payload_encoding: string
                properties: []
                redelivered: true
                routing_key: shared.queue.cloud.key
              schema:
                items:
                  $ref: '#/components/schemas/ConsumeResponse'
                type: array
          description: ""
        401:
          content:
            application/json:
              example:
                error: not_authorised
                reason: Access refused.
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
        404:
          content:
            application/json:
              example:
                error: not_found
                reason: NOT_FOUND - no queue 'shared.queue.clouds' in vhost 'cloud'
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Consume Message
      tags:
      - Pub/Sub
      - Queues
      x-codegen-request-body-name: body
  /exchanges/{vhost}/{exchange}/publish:
    post:
      operationId: PublishMessage
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishRequest'
        required: false
      responses:
        200:
          content:
            application/json:
              example:
                routed: true
              schema:
                $ref: '#/components/schemas/PublishResponse'
          description: ""
      security:
      - basic_auth: []
      summary: Publish Message
      tags:
      - Pub/Sub
      - Exchanges
      x-codegen-request-body-name: body
  /vhosts:
    get:
      operationId: ListVirtualHosts
      responses:
        200:
          content:
            application/json:
              example:
              - cluster_state:
                  rabbit@rabbitmq-cloud-0: running
                name: /
                tracing: false
              schema:
                items:
                  $ref: '#/components/schemas/VHost'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List VHosts
      tags:
      - Virtual Hosts
  /vhosts/{vhost}:
    delete:
      operationId: DeleteVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Delete VHost
      tags:
      - Virtual Hosts
    get:
      operationId: GetVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                message_stats:
                  ack: 1264822
                  ack_details:
                    rate: 0
                  confirm: 258525
                  confirm_details:
                    rate: 0
                  deliver: 1264822
                  deliver_details:
                    rate: 0
                  deliver_get: 1264850
                  deliver_get_details:
                    rate: 0
                  deliver_no_ack: 0
                  deliver_no_ack_details:
                    rate: 0
                  get: 28
                  get_details:
                    rate: 0
                  get_no_ack: 0
                  get_no_ack_details:
                    rate: 0
                  publish: 1247528
                  publish_details:
                    rate: 0
                  redeliver: 27
                  redeliver_details:
                    rate: 0
                  return_unroutable: 7
                  return_unroutable_details:
                    rate: 0
                messages: 25
                messages_details:
                  rate: 0
                messages_ready: 25
                messages_ready_details:
                  rate: 0
                messages_unacknowledged: 0
                messages_unacknowledged_details:
                  rate: 0
                name: cloud
                recv_oct: 178988418
                recv_oct_details:
                  rate: 1.6
                send_oct: 274962337
                send_oct_details:
                  rate: 1.6
                tracing: false
              schema:
                $ref: '#/components/schemas/VHost'
          description: ""
        400:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
        401:
          content:
            application/json:
              example:
                error: not_authorised
                reason: Login failed
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
        403:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Read VHost
      tags:
      - Virtual Hosts
    put:
      operationId: CreateVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        201:
          content: {}
          description: ""
        204:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Create VHost
      tags:
      - Virtual Hosts
  /bindings:
    get:
      operationId: ListBindings
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                destination: shared.queue.cloud
                destination_type: queue
                properties_key: shared.queue.cloud
                routing_key: shared.queue.cloud
                source: ""
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Binding'
                type: array
          description: ""
        400:
          content: {}
          description: ""
        500:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: List Bindings
      tags:
      - Bindings
  /exchanges/{vhost}/{exchange}/bindings/source:
    get:
      operationId: ListBindingsAsSource
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                destination: shared.queue.cloud
                destination_type: queue
                properties_key: shared.queue.cloud.key
                routing_key: shared.queue.cloud.key
                source: shared.exchange
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Binding'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Bindings as Source
      tags:
      - Bindings
  /exchanges/{vhost}/{exchange}/bindings/destination:
    get:
      operationId: ListBindingsAsDestination
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                destination: shared.exchange
                destination_type: exchange
                properties_key: shared.queue.cloud.key
                routing_key: shared.queue.cloud.key
                source: test.exchange
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Binding'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Bindings as Destination
      tags:
      - Bindings
  /queues:
    get:
      operationId: ListQueues
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                auto_delete: false
                backing_queue_status:
                  avg_ack_egress_rate: 0
                  avg_ack_ingress_rate: 9.472023639246112E-21
                  avg_egress_rate: 9.472023639246112E-21
                  avg_ingress_rate: 0.08336487738719885
                  delta:
                  - delta
                  len: 57
                  mode: default
                  next_seq_id: 1264879
                  q1: 0
                  q2: 0
                  q3: 0
                  q4: 57
                  target_ram_count: infinity
                consumers: 0
                durable: true
                effective_policy_definition: []
                exclusive: false
                garbage_collection:
                  fullsweep_after: 65535
                  max_heap_size: 0
                  min_bin_vheap_size: 46422
                  min_heap_size: 233
                  minor_gcs: 1264
                idle_since: 2019-05-10 19:39:01
                memory: 50664
                message_bytes: 399
                message_bytes_paged_out: 0
                message_bytes_persistent: 0
                message_bytes_ram: 399
                message_bytes_ready: 399
                message_bytes_unacknowledged: 0
                message_stats:
                  ack: 1264822
                  ack_details:
                    rate: 0
                  deliver: 1264822
                  deliver_details:
                    rate: 0
                  deliver_get: 1264855
                  deliver_get_details:
                    rate: 0
                  deliver_no_ack: 0
                  deliver_no_ack_details:
                    rate: 0
                  get: 33
                  get_details:
                    rate: 0
                  get_no_ack: 0
                  get_no_ack_details:
                    rate: 0
                  publish: 1246734
                  publish_details:
                    rate: 0
                  redeliver: 32
                  redeliver_details:
                    rate: 0
                messages: 57
                messages_details:
                  rate: 0
                messages_paged_out: 0
                messages_persistent: 0
                messages_ram: 57
                messages_ready: 57
                messages_ready_details:
                  rate: 0
                messages_ready_ram: 57
                messages_unacknowledged: 0
                messages_unacknowledged_details:
                  rate: 0
                messages_unacknowledged_ram: 0
                name: shared.queue.cloud
                node: rabbit@rabbitmq-cloud-0
                reductions: 2262604946
                reductions_details:
                  rate: 0
                state: running
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Queue'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Queues
      tags:
      - Queues
  /queues/{vhost}:
    get:
      operationId: ListQueuesForVirtualHost
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                auto_delete: false
                backing_queue_status:
                  avg_ack_egress_rate: 0
                  avg_ack_ingress_rate: 9.472023639246112E-21
                  avg_egress_rate: 9.472023639246112E-21
                  avg_ingress_rate: 0.08336487738719885
                  delta:
                  - delta
                  len: 57
                  mode: default
                  next_seq_id: 1264879
                  q1: 0
                  q2: 0
                  q3: 0
                  q4: 57
                  target_ram_count: infinity
                consumers: 0
                durable: true
                effective_policy_definition: []
                exclusive: false
                garbage_collection:
                  fullsweep_after: 65535
                  max_heap_size: 0
                  min_bin_vheap_size: 46422
                  min_heap_size: 233
                  minor_gcs: 1264
                idle_since: 2019-05-10 19:39:01
                memory: 50664
                message_bytes: 399
                message_bytes_paged_out: 0
                message_bytes_persistent: 0
                message_bytes_ram: 399
                message_bytes_ready: 399
                message_bytes_unacknowledged: 0
                message_stats:
                  ack: 1264822
                  ack_details:
                    rate: 0
                  deliver: 1264822
                  deliver_details:
                    rate: 0
                  deliver_get: 1264855
                  deliver_get_details:
                    rate: 0
                  deliver_no_ack: 0
                  deliver_no_ack_details:
                    rate: 0
                  get: 33
                  get_details:
                    rate: 0
                  get_no_ack: 0
                  get_no_ack_details:
                    rate: 0
                  publish: 1246734
                  publish_details:
                    rate: 0
                  redeliver: 32
                  redeliver_details:
                    rate: 0
                messages: 57
                messages_details:
                  rate: 0
                messages_paged_out: 0
                messages_persistent: 0
                messages_ram: 57
                messages_ready: 57
                messages_ready_details:
                  rate: 0
                messages_ready_ram: 57
                messages_unacknowledged: 0
                messages_unacknowledged_details:
                  rate: 0
                messages_unacknowledged_ram: 0
                name: shared.queue.cloud
                node: rabbit@rabbitmq-cloud-0
                reductions: 2262604946
                reductions_details:
                  rate: 0
                state: running
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Queue'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Queues for VHost
      tags:
      - Queues
  /queues/{vhost}/{queue}:
    delete:
      operationId: DeleteQueue
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      - in: query
        name: if-empty
        schema:
          default: true
          type: boolean
      - in: query
        name: if-unused
        schema:
          default: true
          type: boolean
      responses:
        204:
          content: {}
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Delete Queue
      tags:
      - Queues
    get:
      operationId: GetQueue
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                arguments: {}
                auto_delete: false
                backing_queue_status:
                  avg_ack_egress_rate: 0
                  avg_ack_ingress_rate: 9.472023639246112E-21
                  avg_egress_rate: 9.472023639246112E-21
                  avg_ingress_rate: 0.08336487738719885
                  delta:
                  - delta
                  len: 57
                  mode: default
                  next_seq_id: 1264879
                  q1: 0
                  q2: 0
                  q3: 0
                  q4: 57
                  target_ram_count: infinity
                consumer_details: []
                consumers: 0
                deliveries: []
                durable: true
                effective_policy_definition: []
                exclusive: false
                garbage_collection:
                  fullsweep_after: 65535
                  max_heap_size: 0
                  min_bin_vheap_size: 46422
                  min_heap_size: 233
                  minor_gcs: 1264
                idle_since: 2019-05-10 19:39:01
                incoming: []
                memory: 50664
                message_bytes: 399
                message_bytes_paged_out: 0
                message_bytes_persistent: 0
                message_bytes_ram: 399
                message_bytes_ready: 399
                message_bytes_unacknowledged: 0
                message_stats:
                  ack: 1264822
                  ack_details:
                    rate: 0
                  deliver: 1264822
                  deliver_details:
                    rate: 0
                  deliver_get: 1264855
                  deliver_get_details:
                    rate: 0
                  deliver_no_ack: 0
                  deliver_no_ack_details:
                    rate: 0
                  get: 33
                  get_details:
                    rate: 0
                  get_no_ack: 0
                  get_no_ack_details:
                    rate: 0
                  publish: 1246734
                  publish_details:
                    rate: 0
                  redeliver: 32
                  redeliver_details:
                    rate: 0
                messages: 57
                messages_details:
                  rate: 0
                messages_paged_out: 0
                messages_persistent: 0
                messages_ram: 57
                messages_ready: 57
                messages_ready_details:
                  rate: 0
                messages_ready_ram: 57
                messages_unacknowledged: 0
                messages_unacknowledged_details:
                  rate: 0
                messages_unacknowledged_ram: 0
                name: shared.queue.cloud
                node: rabbit@rabbitmq-cloud-0
                reductions: 2262604946
                reductions_details:
                  rate: 0
                state: running
                vhost: cloud
              schema:
                $ref: '#/components/schemas/Queue'
          description: ""
      security:
      - basic_auth: []
      summary: Get Queue
      tags:
      - Queues
    put:
      operationId: CreateQueue
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueRequest'
        required: false
      responses:
        201:
          content: {}
          description: ""
        204:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Create Queue
      tags:
      - Queues
      x-codegen-request-body-name: body
  /queues/{vhost}/{queue}/bindings:
    get:
      operationId: ListBindingsForQueue
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments: {}
                destination: shared.queue.cloud
                destination_type: queue
                properties_key: shared.queue.cloud
                routing_key: shared.queue.cloud
                source: ""
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Binding'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List All Bindings for Queue
      tags:
      - Bindings
      - Queues
  /queues/{vhost}/{queue}/actions:
    post:
      operationId: CreateQueueActions
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueAction'
        required: false
      responses:
        204:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Create Actions for Queue
      tags:
      - Queues
      x-codegen-request-body-name: body
  /queues/{vhost}/{queue}/contents:
    delete:
      operationId: DeleteQueueContents
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Delete Queue Contents (Purge)
      tags:
      - Queues
  /bindings/{vhost}/e/{exchange}/q/{queue}:
    get:
      operationId: ListBindingsForQueueExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - arguments:
                  x-arg: value
                destination: shared.queue.cloud4
                destination_type: queue
                properties_key: my_routing_key~O1oKpA
                routing_key: my_routing_key
                source: shared.exchange
                vhost: cloud
              schema:
                items:
                  $ref: '#/components/schemas/Binding'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Bindings for Queue
      tags:
      - Bindings
    post:
      operationId: CreateBindingsForQueueExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindingRequest'
        required: false
      responses:
        201:
          content: {}
          description: ""
        405:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Create Bindings for Queue
      tags:
      - Bindings
      x-codegen-request-body-name: body
  /bindings/{vhost}/e/{exchange}/q/{queue}/{propertyKey}:
    delete:
      operationId: DeleteBindingForQueueExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      - in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/inline_response_404'
          description: ""
      security:
      - basic_auth: []
      summary: Delete Binding for Queue
      tags:
      - Bindings
    get:
      operationId: GetBindingForQueueExchange
      parameters:
      - in: path
        name: vhost
        required: true
        schema:
          type: string
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      - in: path
        name: queue
        required: true
        schema:
          type: string
      - in: path
        name: propertyKey
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                arguments:
                  x-arg: value
                destination: shared.queue.cloud4
                destination_type: queue
                properties_key: my_routing_key~O1oKpA
                routing_key: my_routing_key
                source: shared.exchange
                vhost: cloud
              schema:
                $ref: '#/components/schemas/Binding'
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Get Binding for Queue
      tags:
      - Bindings
  /users:
    get:
      operationId: ListUsers
      responses:
        200:
          content:
            application/json:
              example:
              - hashing_algorithm: rabbit_password_hashing_sha256
                name: adminuser
                password_hash: masEFKl4ejfIv1DHb1WQ9jFYe9fKx6PqIAf/BxSU6k9NlXtQ
                tags: administrator
              schema:
                items:
                  $ref: '#/components/schemas/PermissionUser'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Users
      tags:
      - Users
  /users/without-permissions:
    get:
      operationId: ListUsersWithoutPermissions
      responses:
        200:
          content:
            application/json:
              example:
              - hashing_algorithm: rabbit_password_hashing_sha256
                name: flowers
                password_hash: tSBI8cXfyjsgfOusC0H640/v6aITQMZ2ZP5eWSHOUtY8sCMl
                tags: ""
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Users without Permissions
      tags:
      - Users
      - Permissions
  /users/{name}:
    delete:
      operationId: DeleteUser
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        204:
          content: {}
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Delete User
      tags:
      - Users
    get:
      operationId: GetUser
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
                hashing_algorithm: rabbit_password_hashing_sha256
                name: apiuser
                password_hash: mVZvOq/iWjeTCvDw8bSZkHUB+w8Z07S/lZwg4e7NcNscLjah
                tags: administrator
              schema:
                $ref: '#/components/schemas/User'
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Get User
      tags:
      - Users
    put:
      operationId: CreateUser
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
        required: false
      responses:
        201:
          content: {}
          description: ""
        204:
          content: {}
          description: ""
      security:
      - basic_auth: []
      summary: Create User
      tags:
      - Users
      x-codegen-request-body-name: body
  /users/{user}/permissions:
    get:
      operationId: ListUserPermissions
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - configure: .*
                read: .*
                user: apiuser
                vhost: /
                write: .*
              schema:
                items:
                  $ref: '#/components/schemas/PermissionUser'
                type: array
          description: ""
        404:
          content:
            application/json:
              example:
                error: Object Not Found
                reason: Not Found
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: List User Permissions
      tags:
      - Users
      - Permissions
  /users/{user}/topic-permissions:
    get:
      operationId: ListUsersTopicPermissions
      parameters:
      - in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              example:
              - exchange: shared.exchange
                read: .*
                user: apiuser
                vhost: cloud
                write: .*
              schema:
                items:
                  $ref: '#/components/schemas/PermissionTopic'
                type: array
          description: ""
      security:
      - basic_auth: []
      summary: List Users Topic Permissions
      tags:
      - Permissions
  /whoami:
    get:
      operationId: GetUserCurrent
      responses:
        200:
          content:
            application/json:
              example:
                name: apiuser
                tags: administrator
              schema:
                $ref: '#/components/schemas/WhoAmI'
          description: ""
        401:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: ""
      security:
      - basic_auth: []
      summary: Get Current User
      tags:
      - Users
components:
  schemas:
    BindingRequest:
      example:
        arguments:
          x-arg: x-arg
        routing_key: routing_key
      properties:
        routing_key:
          type: string
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
      required:
      - routing_key
      title: BindingRequest
      type: object
    Binding:
      example:
        vhost: vhost
        destination_type: destination_type
        destination: destination
        properties_key: properties_key
        arguments:
          x-arg: x-arg
        source: source
        routing_key: routing_key
      properties:
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
        destination:
          type: string
        destination_type:
          type: string
        properties_key:
          type: string
        routing_key:
          type: string
        source:
          type: string
        vhost:
          type: string
      title: Binding
      type: object
    ClusterName:
      example:
        name: name
      properties:
        name:
          type: string
      title: ClusterName
      type: object
    Exchange:
      example:
        durable: true
        incoming:
        - '{}'
        - '{}'
        outgoing:
        - '{}'
        - '{}'
        vhost: vhost
        internal: true
        auto_delete: true
        name: name
        arguments:
          x-arg: x-arg
        message_stats:
          publish_in_details:
            rate: 0
          publish_out_details:
            rate: 0
          publish_in: 6
          publish_out: 1
        type: type
        user_who_performed_action: user_who_performed_action
      properties:
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
        auto_delete:
          type: boolean
        durable:
          type: boolean
        incoming:
          items:
            properties: {}
            type: object
          type: array
        internal:
          type: boolean
        message_stats:
          $ref: '#/components/schemas/Exchange_message_stats'
        name:
          type: string
        outgoing:
          items:
            properties: {}
            type: object
          type: array
        type:
          type: string
        user_who_performed_action:
          type: string
        vhost:
          type: string
      title: Exchange
      type: object
    WhoAmI:
      example:
        name: name
        tags: tags
      properties:
        name:
          type: string
        tags:
          type: string
      title: WhoAmI
      type: object
    VHost:
      example:
        tracing: true
        messages_ready_details:
          rate: 0
        messages_ready: 7
        messages_unacknowledged: 1
        recv_oct: 1
        messages_details:
          rate: 0
        messages_unacknowledged_details:
          rate: 0
        send_oct: 6
        send_oct_details:
          rate: 1.4894159098541704
        name: name
        messages: 4
        message_stats:
          get_no_ack_details:
            rate: 0
          deliver_no_ack: 0
          publish_details:
            rate: 0
          redeliver_details:
            rate: 0
          confirm_details:
            rate: 0
          ack: 6
          deliver: 1
          deliver_get: 5
          redeliver: 5
          return_unroutable: 2
          confirm: 7
          get_details:
            rate: 0
          deliver_get_details:
            rate: 0
          deliver_no_ack_details:
            rate: 0
          get_no_ack: 9
          return_unroutable_details:
            rate: 0
          deliver_details:
            rate: 0
          get: 3
          publish: 2
          ack_details:
            rate: 0
        recv_oct_details:
          rate: 1.4894159098541704
      properties:
        message_stats:
          $ref: '#/components/schemas/VHost_message_stats'
        messages:
          type: integer
        messages_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_ready:
          type: integer
        messages_ready_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_unacknowledged:
          type: integer
        messages_unacknowledged_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        name:
          type: string
        recv_oct:
          type: integer
        recv_oct_details:
          $ref: '#/components/schemas/VHost_recv_oct_details'
        send_oct:
          type: integer
        send_oct_details:
          $ref: '#/components/schemas/VHost_recv_oct_details'
        tracing:
          type: boolean
      title: VHost
      type: object
    PermissionTopic:
      example:
        vhost: vhost
        read: read
        exchange: exchange
        user: user
        write: write
      properties:
        exchange:
          type: string
        read:
          type: string
        user:
          type: string
        vhost:
          type: string
        write:
          type: string
      type: object
    PermissionUser:
      example:
        vhost: vhost
        read: read
        configure: configure
        user: user
        write: write
      properties:
        configure:
          type: string
        read:
          type: string
        user:
          type: string
        vhost:
          type: string
        write:
          type: string
      type: object
    ErrorMessage:
      properties:
        error:
          type: string
        reason:
          type: string
      title: ErrorMessage
      type: object
    User:
      example:
        password_hash: password_hash
        name: name
        hashing_algorithm: hashing_algorithm
        tags: tags
      properties:
        hashing_algorithm:
          type: string
        name:
          type: string
        password_hash:
          type: string
        tags:
          type: string
      title: User
      type: object
    UserRequest:
      example:
        password: password
        tags: tags
      properties:
        password:
          type: string
        tags:
          type: string
      title: UserRequest
      type: object
    Queue:
      example:
        memory: 7
        message_bytes: 1
        messages_ram: 3
        garbage_collection:
          max_heap_size: 7
          minor_gcs: 1
          min_bin_vheap_size: 1
          min_heap_size: 1
          fullsweep_after: 6
        reductions: 6
        auto_delete: true
        message_bytes_unacknowledged: 6
        message_bytes_persistent: 5
        messages_unacknowledged: 0
        message_bytes_ready: 9
        durable: true
        messages_details:
          rate: 0
        messages_unacknowledged_ram: 7
        messages_unacknowledged_details:
          rate: 0
        consumer_details:
        - '{}'
        - '{}'
        exclusive: true
        consumers: 4
        message_bytes_paged_out: 4
        messages_ready_ram: 7
        state: state
        messages_persistent: 6
        idle_since: idle_since
        effective_policy_definition:
        - '{}'
        - '{}'
        incoming:
        - '{}'
        - '{}'
        messages_paged_out: 5
        message_bytes_ram: 9
        messages_ready_details:
          rate: 0
        messages_ready: 3
        backing_queue_status:
          q1: 0
          q2: 6
          q3: 1
          q4: 5
          target_ram_count: target_ram_count
          delta:
          - delta
          - delta
          next_seq_id: 5
          avg_ingress_rate: 2.3021358869347655
          avg_ack_ingress_rate: 7.061401241503109
          avg_egress_rate: 9.301444243932576
          mode: mode
          len: 3
          avg_ack_egress_rate: 2
        deliveries:
        - '{}'
        - '{}'
        node: node
        vhost: vhost
        name: name
        messages: 6
        arguments:
          x-arg: x-arg
        message_stats:
          get_no_ack_details:
            rate: 0
          deliver_no_ack: 8
          publish_details:
            rate: 0
          redeliver_details:
            rate: 0
          ack: 9
          deliver: 6
          deliver_get: 3
          redeliver: 6
          get_details:
            rate: 0
          deliver_get_details:
            rate: 0
          deliver_no_ack_details:
            rate: 0
          get_no_ack: 1
          deliver_details:
            rate: 0
          get: 2
          publish: 6
          ack_details:
            rate: 0
        reductions_details:
          rate: 0
      properties:
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
        auto_delete:
          type: boolean
        backing_queue_status:
          $ref: '#/components/schemas/Queue_backing_queue_status'
        consumer_details:
          items:
            properties: {}
            type: object
          type: array
        consumers:
          type: integer
        deliveries:
          items:
            properties: {}
            type: object
          type: array
        durable:
          type: boolean
        effective_policy_definition:
          items:
            properties: {}
            type: object
          type: array
        exclusive:
          type: boolean
        garbage_collection:
          $ref: '#/components/schemas/Queue_garbage_collection'
        idle_since:
          type: string
        incoming:
          items:
            properties: {}
            type: object
          type: array
        memory:
          type: integer
        message_bytes:
          type: integer
        message_bytes_paged_out:
          type: integer
        message_bytes_persistent:
          type: integer
        message_bytes_ram:
          type: integer
        message_bytes_ready:
          type: integer
        message_bytes_unacknowledged:
          type: integer
        message_stats:
          $ref: '#/components/schemas/Queue_message_stats'
        messages:
          type: integer
        messages_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_paged_out:
          type: integer
        messages_persistent:
          type: integer
        messages_ram:
          type: integer
        messages_ready:
          type: integer
        messages_ready_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_ready_ram:
          type: integer
        messages_unacknowledged:
          type: integer
        messages_unacknowledged_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_unacknowledged_ram:
          type: integer
        name:
          type: string
        node:
          type: string
        reductions:
          type: integer
        reductions_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        state:
          type: string
        vhost:
          type: string
      title: Queue
      type: object
    QueueRequest:
      example:
        durable: true
        auto_delete: true
        arguments:
          x-arg: x-arg
      properties:
        auto_delete:
          type: boolean
        durable:
          type: boolean
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
      title: QueueRequest
      type: object
    Overview:
      example:
        cluster_name: cluster_name
        erlang_full_version: erlang_full_version
        listeners:
        - node: node
          protocol: protocol
          socket_opts:
            backlog: 9
            connection_type: connection_type
            linger:
            - 3
            - 3
            port: 2
            exit_on_close: true
            nodelay: true
          port: 4
          ip_address: ip_address
        - node: node
          protocol: protocol
          socket_opts:
            backlog: 9
            connection_type: connection_type
            linger:
            - 3
            - 3
            port: 2
            exit_on_close: true
            nodelay: true
          port: 4
          ip_address: ip_address
        rates_mode: rates_mode
        queue_totals:
          messages_details:
            rate: 0
          messages_unacknowledged_details:
            rate: 0
          messages: 1
          messages_ready_details:
            rate: 0
          messages_ready: 2
          messages_unacknowledged: 6
        contexts:
        - node: node
          path: path
          port: port
          description: description
          ssl_opts:
          - '{}'
          - '{}'
        - node: node
          path: path
          port: port
          description: description
          ssl_opts:
          - '{}'
          - '{}'
        sample_retention_policies:
          detailed:
          - 6
          - 6
          global:
          - 5
          - 5
          basic:
          - 6
          - 6
        management_version: management_version
        churn_rates:
          queue_deleted: 0
          channel_created_details:
            rate: 0
          channel_created: 6
          channel_closed: 1
          queue_declared_details:
            rate: 0
          connection_closed: 5
          channel_closed_details:
            rate: 0
          queue_created: 5
          queue_declared: 2
          connection_closed_details:
            rate: 0
          queue_deleted_details:
            rate: 0
          connection_created: 7
          connection_created_details:
            rate: 0
          queue_created_details:
            rate: 0
        node: node
        rabbitmq_version: rabbitmq_version
        statistics_db_event_queue: 3
        exchange_types:
        - internal_purpose: internal_purpose
          name: name
          description: description
          enabled: true
        - internal_purpose: internal_purpose
          name: name
          description: description
          enabled: true
        erlang_version: erlang_version
        message_stats:
          disk_reads_details:
            rate: 0
          get_no_ack_details:
            rate: 0
          deliver_no_ack: 7
          publish_details:
            rate: 0
          redeliver_details:
            rate: 0
          confirm_details:
            rate: 0
          ack: 1
          deliver: 1
          deliver_get: 1
          disk_reads: 6
          redeliver: 7
          return_unroutable: 1
          confirm: 4
          get_details:
            rate: 0
          deliver_get_details:
            rate: 0
          deliver_no_ack_details:
            rate: 0
          get_no_ack: 5
          return_unroutable_details:
            rate: 0
          deliver_details:
            rate: 0
          get: 9
          publish: 9
          ack_details:
            rate: 0
          disk_writes: 6
          disk_writes_details:
            rate: 0
        object_totals:
          channels: 8
          queues: 9
          exchanges: 6
          consumers: 3
          connections: 6
      properties:
        churn_rates:
          $ref: '#/components/schemas/Overview_churn_rates'
        cluster_name:
          type: string
        contexts:
          items:
            $ref: '#/components/schemas/Overview_contexts'
          type: array
        erlang_full_version:
          type: string
        erlang_version:
          type: string
        exchange_types:
          items:
            $ref: '#/components/schemas/Overview_exchange_types'
          type: array
        listeners:
          items:
            $ref: '#/components/schemas/Overview_listeners'
          type: array
        management_version:
          type: string
        message_stats:
          $ref: '#/components/schemas/Overview_message_stats'
        node:
          type: string
        object_totals:
          $ref: '#/components/schemas/Overview_object_totals'
        queue_totals:
          $ref: '#/components/schemas/Overview_queue_totals'
        rabbitmq_version:
          type: string
        rates_mode:
          type: string
        sample_retention_policies:
          $ref: '#/components/schemas/Overview_sample_retention_policies'
        statistics_db_event_queue:
          type: integer
      title: Overview
      type: object
    PublishResponse:
      example:
        routed: true
      properties:
        routed:
          type: boolean
      title: PublishResponse
      type: object
    MessageHeader:
      example:
        name: name
      properties:
        name:
          type: string
      title: MessageHeader
      type: object
    MessageProperties:
      example:
        headers:
        - name: name
        - name: name
        cluster_id: cluster_id
        content_type: content_type
        user_id: user_id
        correlation_id: correlation_id
        message_id: message_id
        priority: 5
        application_id: application_id
        delivery_mode: 5
        timestamp: 1
      properties:
        application_id:
          type: string
        correlation_id:
          type: string
        message_id:
          type: string
        user_id:
          type: string
        timestamp:
          type: integer
        content_type:
          type: string
        delivery_mode:
          type: integer
        priority:
          type: integer
        cluster_id:
          type: string
        headers:
          items:
            $ref: '#/components/schemas/MessageHeader'
          type: array
      title: MessageProperties
      type: object
    PublishRequest:
      example:
        payload: payload
        payload_encoding: payload_encoding
        routing_key: routing_key
        properties:
          headers:
          - name: name
          - name: name
          cluster_id: cluster_id
          content_type: content_type
          user_id: user_id
          correlation_id: correlation_id
          message_id: message_id
          priority: 5
          application_id: application_id
          delivery_mode: 5
          timestamp: 1
      properties:
        routing_key:
          type: string
        payload:
          type: string
        payload_encoding:
          type: string
        properties:
          $ref: '#/components/schemas/MessageProperties'
      title: PublishRequest
      type: object
    ExchangeRequest:
      example:
        durable: true
        internal: true
        auto_delete: true
        arguments:
          x-arg: x-arg
        type: type
      properties:
        type:
          type: string
        auto_delete:
          type: boolean
        durable:
          type: boolean
        internal:
          type: boolean
        arguments:
          $ref: '#/components/schemas/BindingRequest_arguments'
      title: ExchangeRequest
      type: object
    Definition:
      example:
        queues:
        - memory: 7
          message_bytes: 1
          messages_ram: 3
          garbage_collection:
            max_heap_size: 7
            minor_gcs: 1
            min_bin_vheap_size: 1
            min_heap_size: 1
            fullsweep_after: 6
          reductions: 6
          auto_delete: true
          message_bytes_unacknowledged: 6
          message_bytes_persistent: 5
          messages_unacknowledged: 0
          message_bytes_ready: 9
          durable: true
          messages_details:
            rate: 0
          messages_unacknowledged_ram: 7
          messages_unacknowledged_details:
            rate: 0
          consumer_details:
          - '{}'
          - '{}'
          exclusive: true
          consumers: 4
          message_bytes_paged_out: 4
          messages_ready_ram: 7
          state: state
          messages_persistent: 6
          idle_since: idle_since
          effective_policy_definition:
          - '{}'
          - '{}'
          incoming:
          - '{}'
          - '{}'
          messages_paged_out: 5
          message_bytes_ram: 9
          messages_ready_details:
            rate: 0
          messages_ready: 3
          backing_queue_status:
            q1: 0
            q2: 6
            q3: 1
            q4: 5
            target_ram_count: target_ram_count
            delta:
            - delta
            - delta
            next_seq_id: 5
            avg_ingress_rate: 2.3021358869347655
            avg_ack_ingress_rate: 7.061401241503109
            avg_egress_rate: 9.301444243932576
            mode: mode
            len: 3
            avg_ack_egress_rate: 2
          deliveries:
          - '{}'
          - '{}'
          node: node
          vhost: vhost
          name: name
          messages: 6
          arguments:
            x-arg: x-arg
          message_stats:
            get_no_ack_details:
              rate: 0
            deliver_no_ack: 8
            publish_details:
              rate: 0
            redeliver_details:
              rate: 0
            ack: 9
            deliver: 6
            deliver_get: 3
            redeliver: 6
            get_details:
              rate: 0
            deliver_get_details:
              rate: 0
            deliver_no_ack_details:
              rate: 0
            get_no_ack: 1
            deliver_details:
              rate: 0
            get: 2
            publish: 6
            ack_details:
              rate: 0
          reductions_details:
            rate: 0
        - memory: 7
          message_bytes: 1
          messages_ram: 3
          garbage_collection:
            max_heap_size: 7
            minor_gcs: 1
            min_bin_vheap_size: 1
            min_heap_size: 1
            fullsweep_after: 6
          reductions: 6
          auto_delete: true
          message_bytes_unacknowledged: 6
          message_bytes_persistent: 5
          messages_unacknowledged: 0
          message_bytes_ready: 9
          durable: true
          messages_details:
            rate: 0
          messages_unacknowledged_ram: 7
          messages_unacknowledged_details:
            rate: 0
          consumer_details:
          - '{}'
          - '{}'
          exclusive: true
          consumers: 4
          message_bytes_paged_out: 4
          messages_ready_ram: 7
          state: state
          messages_persistent: 6
          idle_since: idle_since
          effective_policy_definition:
          - '{}'
          - '{}'
          incoming:
          - '{}'
          - '{}'
          messages_paged_out: 5
          message_bytes_ram: 9
          messages_ready_details:
            rate: 0
          messages_ready: 3
          backing_queue_status:
            q1: 0
            q2: 6
            q3: 1
            q4: 5
            target_ram_count: target_ram_count
            delta:
            - delta
            - delta
            next_seq_id: 5
            avg_ingress_rate: 2.3021358869347655
            avg_ack_ingress_rate: 7.061401241503109
            avg_egress_rate: 9.301444243932576
            mode: mode
            len: 3
            avg_ack_egress_rate: 2
          deliveries:
          - '{}'
          - '{}'
          node: node
          vhost: vhost
          name: name
          messages: 6
          arguments:
            x-arg: x-arg
          message_stats:
            get_no_ack_details:
              rate: 0
            deliver_no_ack: 8
            publish_details:
              rate: 0
            redeliver_details:
              rate: 0
            ack: 9
            deliver: 6
            deliver_get: 3
            redeliver: 6
            get_details:
              rate: 0
            deliver_get_details:
              rate: 0
            deliver_no_ack_details:
              rate: 0
            get_no_ack: 1
            deliver_details:
              rate: 0
            get: 2
            publish: 6
            ack_details:
              rate: 0
          reductions_details:
            rate: 0
        bindings:
        - vhost: vhost
          destination_type: destination_type
          destination: destination
          properties_key: properties_key
          arguments:
            x-arg: x-arg
          source: source
          routing_key: routing_key
        - vhost: vhost
          destination_type: destination_type
          destination: destination
          properties_key: properties_key
          arguments:
            x-arg: x-arg
          source: source
          routing_key: routing_key
        exchanges:
        - durable: true
          incoming:
          - '{}'
          - '{}'
          outgoing:
          - '{}'
          - '{}'
          vhost: vhost
          internal: true
          auto_delete: true
          name: name
          arguments:
            x-arg: x-arg
          message_stats:
            publish_in_details:
              rate: 0
            publish_out_details:
              rate: 0
            publish_in: 6
            publish_out: 1
          type: type
          user_who_performed_action: user_who_performed_action
        - durable: true
          incoming:
          - '{}'
          - '{}'
          outgoing:
          - '{}'
          - '{}'
          vhost: vhost
          internal: true
          auto_delete: true
          name: name
          arguments:
            x-arg: x-arg
          message_stats:
            publish_in_details:
              rate: 0
            publish_out_details:
              rate: 0
            publish_in: 6
            publish_out: 1
          type: type
          user_who_performed_action: user_who_performed_action
        policies:
        - '{}'
        - '{}'
        parameters:
        - '{}'
        - '{}'
        rabbit_version: rabbit_version
      properties:
        bindings:
          items:
            $ref: '#/components/schemas/Binding'
          type: array
        exchanges:
          items:
            $ref: '#/components/schemas/Exchange'
          type: array
        parameters:
          items:
            properties: {}
            type: object
          type: array
        policies:
          items:
            properties: {}
            type: object
          type: array
        queues:
          items:
            $ref: '#/components/schemas/Queue'
          type: array
        rabbit_version:
          type: string
      title: Definition
      type: object
    ConsumeResponse:
      example:
        payload_bytes: 6
        payload: payload
        payload_encoding: payload_encoding
        exchange: exchange
        routing_key: routing_key
        message_count: 0
        properties:
        - headers:
          - name: name
          - name: name
          cluster_id: cluster_id
          content_type: content_type
          user_id: user_id
          correlation_id: correlation_id
          message_id: message_id
          priority: 5
          application_id: application_id
          delivery_mode: 5
          timestamp: 1
        - headers:
          - name: name
          - name: name
          cluster_id: cluster_id
          content_type: content_type
          user_id: user_id
          correlation_id: correlation_id
          message_id: message_id
          priority: 5
          application_id: application_id
          delivery_mode: 5
          timestamp: 1
        redelivered: true
      properties:
        exchange:
          type: string
        message_count:
          type: integer
        payload:
          type: string
        payload_bytes:
          type: integer
        payload_encoding:
          type: string
        properties:
          items:
            $ref: '#/components/schemas/MessageProperties'
          type: array
        redelivered:
          type: boolean
        routing_key:
          type: string
      title: ConsumeResponse
      type: object
    ConsumeRequest:
      example:
        truncate: 6
        count: 0
        encoding: encoding
        ackmode: ackmode
      properties:
        count:
          type: integer
        ackmode:
          type: string
        encoding:
          type: string
        truncate:
          type: integer
      title: ConsumeRequest
      type: object
    QueueAction:
      example:
        action: sync
      properties:
        action:
          enum:
          - sync
          - cancel_sync
          type: string
      required:
      - action
      title: QueueAction
      type: object
    inline_response_404:
      properties:
        reason:
          type: string
        error:
          type: string
    BindingRequest_arguments:
      example:
        x-arg: x-arg
      properties:
        x-arg:
          type: string
    Exchange_message_stats_publish_in_details:
      example:
        rate: 0
      properties:
        rate:
          type: integer
    Exchange_message_stats:
      example:
        publish_in_details:
          rate: 0
        publish_out_details:
          rate: 0
        publish_in: 6
        publish_out: 1
      properties:
        publish_in_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        publish_out_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        publish_in:
          type: integer
        publish_out:
          type: integer
    VHost_message_stats:
      example:
        get_no_ack_details:
          rate: 0
        deliver_no_ack: 0
        publish_details:
          rate: 0
        redeliver_details:
          rate: 0
        confirm_details:
          rate: 0
        ack: 6
        deliver: 1
        deliver_get: 5
        redeliver: 5
        return_unroutable: 2
        confirm: 7
        get_details:
          rate: 0
        deliver_get_details:
          rate: 0
        deliver_no_ack_details:
          rate: 0
        get_no_ack: 9
        return_unroutable_details:
          rate: 0
        deliver_details:
          rate: 0
        get: 3
        publish: 2
        ack_details:
          rate: 0
      properties:
        get_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack:
          type: integer
        publish_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        redeliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        confirm_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        ack:
          type: integer
        deliver:
          type: integer
        deliver_get:
          type: integer
        redeliver:
          type: integer
        return_unroutable:
          type: integer
        confirm:
          type: integer
        get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get_no_ack:
          type: integer
        return_unroutable_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get:
          type: integer
        publish:
          type: integer
        ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
    VHost_recv_oct_details:
      example:
        rate: 1.4894159098541704
      properties:
        rate:
          type: number
    Queue_backing_queue_status:
      example:
        q1: 0
        q2: 6
        q3: 1
        q4: 5
        target_ram_count: target_ram_count
        delta:
        - delta
        - delta
        next_seq_id: 5
        avg_ingress_rate: 2.3021358869347655
        avg_ack_ingress_rate: 7.061401241503109
        avg_egress_rate: 9.301444243932576
        mode: mode
        len: 3
        avg_ack_egress_rate: 2
      properties:
        q1:
          type: integer
        q2:
          type: integer
        q3:
          type: integer
        q4:
          type: integer
        target_ram_count:
          type: string
        delta:
          items:
            type: string
          type: array
        next_seq_id:
          type: integer
        avg_ingress_rate:
          type: number
        avg_ack_ingress_rate:
          type: number
        avg_egress_rate:
          type: number
        mode:
          type: string
        len:
          type: integer
        avg_ack_egress_rate:
          type: integer
    Queue_garbage_collection:
      example:
        max_heap_size: 7
        minor_gcs: 1
        min_bin_vheap_size: 1
        min_heap_size: 1
        fullsweep_after: 6
      properties:
        max_heap_size:
          type: integer
        minor_gcs:
          type: integer
        min_bin_vheap_size:
          type: integer
        min_heap_size:
          type: integer
        fullsweep_after:
          type: integer
    Queue_message_stats:
      example:
        get_no_ack_details:
          rate: 0
        deliver_no_ack: 8
        publish_details:
          rate: 0
        redeliver_details:
          rate: 0
        ack: 9
        deliver: 6
        deliver_get: 3
        redeliver: 6
        get_details:
          rate: 0
        deliver_get_details:
          rate: 0
        deliver_no_ack_details:
          rate: 0
        get_no_ack: 1
        deliver_details:
          rate: 0
        get: 2
        publish: 6
        ack_details:
          rate: 0
      properties:
        get_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack:
          type: integer
        publish_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        redeliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        ack:
          type: integer
        deliver:
          type: integer
        deliver_get:
          type: integer
        redeliver:
          type: integer
        get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get_no_ack:
          type: integer
        deliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get:
          type: integer
        publish:
          type: integer
        ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
    Overview_churn_rates:
      example:
        queue_deleted: 0
        channel_created_details:
          rate: 0
        channel_created: 6
        channel_closed: 1
        queue_declared_details:
          rate: 0
        connection_closed: 5
        channel_closed_details:
          rate: 0
        queue_created: 5
        queue_declared: 2
        connection_closed_details:
          rate: 0
        queue_deleted_details:
          rate: 0
        connection_created: 7
        connection_created_details:
          rate: 0
        queue_created_details:
          rate: 0
      properties:
        queue_deleted:
          type: integer
        channel_created_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        channel_created:
          type: integer
        channel_closed:
          type: integer
        queue_declared_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        connection_closed:
          type: integer
        channel_closed_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        queue_created:
          type: integer
        queue_declared:
          type: integer
        connection_closed_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        queue_deleted_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        connection_created:
          type: integer
        connection_created_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        queue_created_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
    Overview_contexts:
      example:
        node: node
        path: path
        port: port
        description: description
        ssl_opts:
        - '{}'
        - '{}'
      properties:
        node:
          type: string
        path:
          type: string
        port:
          type: string
        description:
          type: string
        ssl_opts:
          items:
            properties: {}
            type: object
          type: array
    Overview_exchange_types:
      example:
        internal_purpose: internal_purpose
        name: name
        description: description
        enabled: true
      properties:
        internal_purpose:
          type: string
        name:
          type: string
        description:
          type: string
        enabled:
          type: boolean
    Overview_socket_opts:
      example:
        backlog: 9
        connection_type: connection_type
        linger:
        - 3
        - 3
        port: 2
        exit_on_close: true
        nodelay: true
      properties:
        backlog:
          type: integer
        connection_type:
          type: string
        linger:
          items:
            type: integer
          type: array
        port:
          type: integer
        exit_on_close:
          type: boolean
        nodelay:
          type: boolean
    Overview_listeners:
      example:
        node: node
        protocol: protocol
        socket_opts:
          backlog: 9
          connection_type: connection_type
          linger:
          - 3
          - 3
          port: 2
          exit_on_close: true
          nodelay: true
        port: 4
        ip_address: ip_address
      properties:
        node:
          type: string
        protocol:
          type: string
        socket_opts:
          $ref: '#/components/schemas/Overview_socket_opts'
        port:
          type: integer
        ip_address:
          type: string
    Overview_message_stats:
      example:
        disk_reads_details:
          rate: 0
        get_no_ack_details:
          rate: 0
        deliver_no_ack: 7
        publish_details:
          rate: 0
        redeliver_details:
          rate: 0
        confirm_details:
          rate: 0
        ack: 1
        deliver: 1
        deliver_get: 1
        disk_reads: 6
        redeliver: 7
        return_unroutable: 1
        confirm: 4
        get_details:
          rate: 0
        deliver_get_details:
          rate: 0
        deliver_no_ack_details:
          rate: 0
        get_no_ack: 5
        return_unroutable_details:
          rate: 0
        deliver_details:
          rate: 0
        get: 9
        publish: 9
        ack_details:
          rate: 0
        disk_writes: 6
        disk_writes_details:
          rate: 0
      properties:
        disk_reads_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack:
          type: integer
        publish_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        redeliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        confirm_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        ack:
          type: integer
        deliver:
          type: integer
        deliver_get:
          type: integer
        disk_reads:
          type: integer
        redeliver:
          type: integer
        return_unroutable:
          type: integer
        confirm:
          type: integer
        get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_get_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_no_ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get_no_ack:
          type: integer
        return_unroutable_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        deliver_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        get:
          type: integer
        publish:
          type: integer
        ack_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        disk_writes:
          type: integer
        disk_writes_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
    Overview_object_totals:
      example:
        channels: 8
        queues: 9
        exchanges: 6
        consumers: 3
        connections: 6
      properties:
        channels:
          type: integer
        queues:
          type: integer
        exchanges:
          type: integer
        consumers:
          type: integer
        connections:
          type: integer
    Overview_queue_totals:
      example:
        messages_details:
          rate: 0
        messages_unacknowledged_details:
          rate: 0
        messages: 1
        messages_ready_details:
          rate: 0
        messages_ready: 2
        messages_unacknowledged: 6
      properties:
        messages_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_unacknowledged_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages:
          type: integer
        messages_ready_details:
          $ref: '#/components/schemas/Exchange_message_stats_publish_in_details'
        messages_ready:
          type: integer
        messages_unacknowledged:
          type: integer
    Overview_sample_retention_policies:
      example:
        detailed:
        - 6
        - 6
        global:
        - 5
        - 5
        basic:
        - 6
        - 6
      properties:
        detailed:
          items:
            type: integer
          type: array
        global:
          items:
            type: integer
          type: array
        basic:
          items:
            type: integer
          type: array
  securitySchemes:
    basic_auth:
      description: Basic authentication as per RabbitMQ HTTP API requirements.
      scheme: basic
      type: http
